<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,972},{255,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,82}}</string>
                <key>sourceSize</key>
                <string>{255,82}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1662},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>btn_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,972},{242,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{242,84}}</string>
                <key>sourceSize</key>
                <string>{248,86}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,1844},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>commonbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1210},{696,804}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{696,804}}</string>
                <key>sourceSize</key>
                <string>{696,804}</string>
            </dict>
            <key>content.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{658,611}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,611}}</string>
                <key>sourceSize</key>
                <string>{658,611}</string>
            </dict>
            <key>creator.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,1785},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>gongzhonghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,1229},{240,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,83}}</string>
                <key>sourceSize</key>
                <string>{240,83}</string>
            </dict>
            <key>hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,1334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,1334}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>info_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,972},{130,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,43}}</string>
                <key>sourceSize</key>
                <string>{130,43}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,1648},{4,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,90}}</string>
                <key>sourceSize</key>
                <string>{4,90}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1791},{86,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,1797},{135,57}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{135,57}}</string>
                <key>sourceSize</key>
                <string>{141,59}</string>
            </dict>
            <key>on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,1785},{137,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{137,57}}</string>
                <key>sourceSize</key>
                <string>{141,59}</string>
            </dict>
            <key>player_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,972},{634,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,88}}</string>
                <key>sourceSize</key>
                <string>{634,88}</string>
            </dict>
            <key>record_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{750,1206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,1206}}</string>
                <key>sourceSize</key>
                <string>{750,1206}</string>
            </dict>
            <key>record_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,972},{646,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{646,112}}</string>
                <key>sourceSize</key>
                <string>{646,112}</string>
            </dict>
            <key>refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1620},{256,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,84}}</string>
                <key>sourceSize</key>
                <string>{256,84}</string>
            </dict>
            <key>resufe_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1338},{82,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,33}}</string>
                <key>sourceSize</key>
                <string>{82,33}</string>
            </dict>
            <key>roomId.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1915},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>set_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1422},{66,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{68,35}</string>
            </dict>
            <key>share_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,1648},{135,175}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,175}}</string>
                <key>sourceSize</key>
                <string>{135,177}</string>
            </dict>
            <key>share_timeLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,1620},{135,175}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,175}}</string>
                <key>sourceSize</key>
                <string>{135,177}</string>
            </dict>
            <key>solid_color_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,2},{968,526}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{968,526}}</string>
                <key>sourceSize</key>
                <string>{968,526}</string>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,1104},{86,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1878},{84,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,34}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
            <key>switch_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,1471},{135,175}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,175}}</string>
                <key>sourceSize</key>
                <string>{135,177}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1879},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1338},{322,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,55}}</string>
                <key>sourceSize</key>
                <string>{322,55}</string>
            </dict>
            <key>tongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1662},{127,32}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{127,32}}</string>
                <key>sourceSize</key>
                <string>{175,58}</string>
            </dict>
            <key>top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,972},{645,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,76}}</string>
                <key>sourceSize</key>
                <string>{645,76}</string>
            </dict>
            <key>wxShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,1216},{240,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,82}}</string>
                <key>sourceSize</key>
                <string>{240,82}</string>
            </dict>
            <key>xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,972},{77,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,19}}</string>
                <key>sourceSize</key>
                <string>{77,19}</string>
            </dict>
            <key>zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1490},{62,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{62,32}}</string>
                <key>sourceSize</key>
                <string>{74,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{2034,1951}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96f12308d26d7d4d582d0c0122f6ffd9$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
