<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_roomIcon_13Water_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,38}}</string>
                <key>sourceSize</key>
                <string>{119,38}</string>
            </dict>
            <key>battle_roomIcon_13Water_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{119,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,38}}</string>
                <key>sourceSize</key>
                <string>{119,38}</string>
            </dict>
            <key>battle_roomIcon_13Water_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{120,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,38}}</string>
                <key>sourceSize</key>
                <string>{120,38}</string>
            </dict>
            <key>battle_roomIcon_13Water_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{119,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,38}}</string>
                <key>sourceSize</key>
                <string>{119,38}</string>
            </dict>
            <key>battle_roomIcon_13Water_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{119,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,38}}</string>
                <key>sourceSize</key>
                <string>{119,38}</string>
            </dict>
            <key>battle_roomIcon_18Water_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{119,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,38}}</string>
                <key>sourceSize</key>
                <string>{119,38}</string>
            </dict>
            <key>battle_roomIcon_18Water_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,2},{119,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,38}}</string>
                <key>sourceSize</key>
                <string>{119,38}</string>
            </dict>
            <key>battle_roomIcon_18Water_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{120,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,38}}</string>
                <key>sourceSize</key>
                <string>{120,38}</string>
            </dict>
            <key>battle_roomIcon_18Water_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{119,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,38}}</string>
                <key>sourceSize</key>
                <string>{119,38}</string>
            </dict>
            <key>battle_roomIcon_18Water_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,2},{119,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,38}}</string>
                <key>sourceSize</key>
                <string>{119,38}</string>
            </dict>
            <key>battle_roomIcon_changeable_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{118,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,40}}</string>
                <key>sourceSize</key>
                <string>{118,40}</string>
            </dict>
            <key>battle_roomIcon_changeable_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{118,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,40}}</string>
                <key>sourceSize</key>
                <string>{118,40}</string>
            </dict>
            <key>battle_roomIcon_changeable_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,44},{118,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,40}}</string>
                <key>sourceSize</key>
                <string>{118,40}</string>
            </dict>
            <key>battle_roomIcon_changeable_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,44},{118,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,40}}</string>
                <key>sourceSize</key>
                <string>{118,40}</string>
            </dict>
            <key>battle_roomIcon_changeable_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,44},{118,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,40}}</string>
                <key>sourceSize</key>
                <string>{118,40}</string>
            </dict>
            <key>battle_roomIcon_dalbelloJoker_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,44},{180,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,35}}</string>
                <key>sourceSize</key>
                <string>{180,35}</string>
            </dict>
            <key>battle_roomIcon_dalbelloJoker_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,44},{180,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,35}}</string>
                <key>sourceSize</key>
                <string>{180,35}</string>
            </dict>
            <key>battle_roomIcon_dalbelloJoker_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,44},{180,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,35}}</string>
                <key>sourceSize</key>
                <string>{180,35}</string>
            </dict>
            <key>battle_roomIcon_dalbelloJoker_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,44},{180,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,35}}</string>
                <key>sourceSize</key>
                <string>{180,35}</string>
            </dict>
            <key>battle_roomIcon_dalbelloJoker_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,44},{180,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,35}}</string>
                <key>sourceSize</key>
                <string>{180,35}</string>
            </dict>
            <key>battle_roomIcon_dalbelloLaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{179,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,36}}</string>
                <key>sourceSize</key>
                <string>{179,36}</string>
            </dict>
            <key>battle_roomIcon_dalbelloLaizi_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,86},{179,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,36}}</string>
                <key>sourceSize</key>
                <string>{179,36}</string>
            </dict>
            <key>battle_roomIcon_dalbelloLaizi_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,86},{179,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,36}}</string>
                <key>sourceSize</key>
                <string>{179,36}</string>
            </dict>
            <key>battle_roomIcon_dalbelloLaizi_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,86},{179,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,36}}</string>
                <key>sourceSize</key>
                <string>{179,36}</string>
            </dict>
            <key>battle_roomIcon_dalbelloLaizi_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,86},{179,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,36}}</string>
                <key>sourceSize</key>
                <string>{179,36}</string>
            </dict>
            <key>battle_roomIcon_dalbello_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,86},{119,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,40}}</string>
                <key>sourceSize</key>
                <string>{119,40}</string>
            </dict>
            <key>battle_roomIcon_dalbello_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,86},{119,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,40}}</string>
                <key>sourceSize</key>
                <string>{119,40}</string>
            </dict>
            <key>battle_roomIcon_dalbello_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,86},{119,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,40}}</string>
                <key>sourceSize</key>
                <string>{119,40}</string>
            </dict>
            <key>battle_roomIcon_dalbello_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,86},{119,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,40}}</string>
                <key>sourceSize</key>
                <string>{119,40}</string>
            </dict>
            <key>battle_roomIcon_dalbello_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{119,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,40}}</string>
                <key>sourceSize</key>
                <string>{119,40}</string>
            </dict>
            <key>battle_roomIcon_fj_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,128},{81,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,39}}</string>
                <key>sourceSize</key>
                <string>{81,39}</string>
            </dict>
            <key>battle_roomIcon_fj_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,128},{81,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,39}}</string>
                <key>sourceSize</key>
                <string>{81,39}</string>
            </dict>
            <key>battle_roomIcon_fj_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,128},{81,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,39}}</string>
                <key>sourceSize</key>
                <string>{81,39}</string>
            </dict>
            <key>battle_roomIcon_fj_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,128},{81,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,39}}</string>
                <key>sourceSize</key>
                <string>{81,39}</string>
            </dict>
            <key>battle_roomIcon_fj_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,128},{81,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,39}}</string>
                <key>sourceSize</key>
                <string>{81,39}</string>
            </dict>
            <key>battle_roomIcon_fullColor_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,128},{121,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,38}}</string>
                <key>sourceSize</key>
                <string>{121,38}</string>
            </dict>
            <key>battle_roomIcon_fullColor_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,128},{121,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,38}}</string>
                <key>sourceSize</key>
                <string>{121,38}</string>
            </dict>
            <key>battle_roomIcon_fullColor_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,128},{122,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,40}}</string>
                <key>sourceSize</key>
                <string>{122,40}</string>
            </dict>
            <key>battle_roomIcon_fullColor_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,128},{121,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,38}}</string>
                <key>sourceSize</key>
                <string>{121,38}</string>
            </dict>
            <key>battle_roomIcon_fullColor_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,128},{121,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,38}}</string>
                <key>sourceSize</key>
                <string>{121,38}</string>
            </dict>
            <key>battle_roomIcon_joker_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,128},{118,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,39}}</string>
                <key>sourceSize</key>
                <string>{118,39}</string>
            </dict>
            <key>battle_roomIcon_joker_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{118,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,39}}</string>
                <key>sourceSize</key>
                <string>{118,39}</string>
            </dict>
            <key>battle_roomIcon_joker_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,170},{118,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,39}}</string>
                <key>sourceSize</key>
                <string>{118,39}</string>
            </dict>
            <key>battle_roomIcon_joker_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,170},{118,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,39}}</string>
                <key>sourceSize</key>
                <string>{118,39}</string>
            </dict>
            <key>battle_roomIcon_joker_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,170},{118,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,39}}</string>
                <key>sourceSize</key>
                <string>{118,39}</string>
            </dict>
            <key>battle_roomIcon_moreColor_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,170},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>battle_roomIcon_moreColor_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,170},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>battle_roomIcon_moreColor_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,170},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>battle_roomIcon_moreColor_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,170},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>battle_roomIcon_moreColor_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,170},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>battle_roomIcon_moreThreeColor_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,170},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>battle_roomIcon_moreThreeColor_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,170},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>battle_roomIcon_moreThreeColor_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{118,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,40}}</string>
                <key>sourceSize</key>
                <string>{118,40}</string>
            </dict>
            <key>battle_roomIcon_moreThreeColor_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,212},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>battle_roomIcon_moreThreeColor_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,212},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>battle_roomIcon_moreTwoColor_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,212},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>battle_roomIcon_moreTwoColor_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,212},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>battle_roomIcon_moreTwoColor_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,212},{118,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,40}}</string>
                <key>sourceSize</key>
                <string>{118,40}</string>
            </dict>
            <key>battle_roomIcon_moreTwoColor_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,212},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>battle_roomIcon_moreTwoColor_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,212},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>battle_roomIcon_zj_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,212},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>battle_roomIcon_zj_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,212},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>battle_roomIcon_zj_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,212},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>battle_roomIcon_zj_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,212},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>battle_roomIcon_zj_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,212},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room_rule_type.png</string>
            <key>size</key>
            <string>{1392,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56c9fbd97c50ef6af3514f96c0e3fb8a$</string>
            <key>textureFileName</key>
            <string>room_rule_type.png</string>
        </dict>
    </dict>
</plist>
