<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_shuffle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,89}}</string>
                <key>sourceSize</key>
                <string>{178,89}</string>
            </dict>
            <key>battle_shuffle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{174,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,99}}</string>
                <key>sourceSize</key>
                <string>{174,99}</string>
            </dict>
            <key>battle_shuffle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{174,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,99}}</string>
                <key>sourceSize</key>
                <string>{174,99}</string>
            </dict>
            <key>battle_shuffle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{174,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,103}}</string>
                <key>sourceSize</key>
                <string>{174,103}</string>
            </dict>
            <key>battle_shuffle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{174,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,103}}</string>
                <key>sourceSize</key>
                <string>{174,103}</string>
            </dict>
            <key>battle_shuffle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{174,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,103}}</string>
                <key>sourceSize</key>
                <string>{174,103}</string>
            </dict>
            <key>battle_shuffle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{174,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,103}}</string>
                <key>sourceSize</key>
                <string>{174,103}</string>
            </dict>
            <key>battle_shuffle_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{174,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,103}}</string>
                <key>sourceSize</key>
                <string>{174,103}</string>
            </dict>
            <key>battle_shuffle_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{174,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,103}}</string>
                <key>sourceSize</key>
                <string>{174,103}</string>
            </dict>
            <key>battle_shuffle_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{174,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,95}}</string>
                <key>sourceSize</key>
                <string>{174,95}</string>
            </dict>
            <key>battle_shuffle_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,107},{176,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,79}}</string>
                <key>sourceSize</key>
                <string>{176,79}</string>
            </dict>
            <key>battle_shuffle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,107},{178,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,89}}</string>
                <key>sourceSize</key>
                <string>{178,89}</string>
            </dict>
            <key>battle_shuffle_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,107},{152,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,79}}</string>
                <key>sourceSize</key>
                <string>{152,79}</string>
            </dict>
            <key>battle_shuffle_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,107},{126,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,79}}</string>
                <key>sourceSize</key>
                <string>{126,79}</string>
            </dict>
            <key>battle_shuffle_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,107},{102,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,79}}</string>
                <key>sourceSize</key>
                <string>{102,79}</string>
            </dict>
            <key>battle_shuffle_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,107},{102,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,79}}</string>
                <key>sourceSize</key>
                <string>{102,79}</string>
            </dict>
            <key>battle_shuffle_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,107},{118,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,85}}</string>
                <key>sourceSize</key>
                <string>{118,85}</string>
            </dict>
            <key>battle_shuffle_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,107},{118,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,71}}</string>
                <key>sourceSize</key>
                <string>{118,71}</string>
            </dict>
            <key>battle_shuffle_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,107},{118,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,71}}</string>
                <key>sourceSize</key>
                <string>{118,71}</string>
            </dict>
            <key>battle_shuffle_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,107},{118,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,71}}</string>
                <key>sourceSize</key>
                <string>{118,71}</string>
            </dict>
            <key>battle_shuffle_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,107},{156,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,99}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>battle_shuffle_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,107},{174,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,93}}</string>
                <key>sourceSize</key>
                <string>{174,93}</string>
            </dict>
            <key>battle_shuffle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,89}}</string>
                <key>sourceSize</key>
                <string>{178,89}</string>
            </dict>
            <key>battle_shuffle_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{192,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,85}}</string>
                <key>sourceSize</key>
                <string>{192,85}</string>
            </dict>
            <key>battle_shuffle_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,208},{192,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,65}}</string>
                <key>sourceSize</key>
                <string>{192,65}</string>
            </dict>
            <key>battle_shuffle_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,208},{192,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,99}}</string>
                <key>sourceSize</key>
                <string>{192,99}</string>
            </dict>
            <key>battle_shuffle_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,208},{192,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,99}}</string>
                <key>sourceSize</key>
                <string>{192,99}</string>
            </dict>
            <key>battle_shuffle_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,208},{192,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,99}}</string>
                <key>sourceSize</key>
                <string>{192,99}</string>
            </dict>
            <key>battle_shuffle_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,208},{190,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,113}}</string>
                <key>sourceSize</key>
                <string>{190,113}</string>
            </dict>
            <key>battle_shuffle_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,208},{186,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,119}}</string>
                <key>sourceSize</key>
                <string>{186,119}</string>
            </dict>
            <key>battle_shuffle_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,208},{172,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,139}}</string>
                <key>sourceSize</key>
                <string>{172,139}</string>
            </dict>
            <key>battle_shuffle_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,208},{144,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,133}}</string>
                <key>sourceSize</key>
                <string>{144,133}</string>
            </dict>
            <key>battle_shuffle_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,208},{118,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,125}}</string>
                <key>sourceSize</key>
                <string>{118,125}</string>
            </dict>
            <key>battle_shuffle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,208},{176,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,51}}</string>
                <key>sourceSize</key>
                <string>{176,51}</string>
            </dict>
            <key>battle_shuffle_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{118,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,91}}</string>
                <key>sourceSize</key>
                <string>{118,91}</string>
            </dict>
            <key>battle_shuffle_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,349},{118,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,59}}</string>
                <key>sourceSize</key>
                <string>{118,59}</string>
            </dict>
            <key>battle_shuffle_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,349},{118,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,73}}</string>
                <key>sourceSize</key>
                <string>{118,73}</string>
            </dict>
            <key>battle_shuffle_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,349},{118,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,71}}</string>
                <key>sourceSize</key>
                <string>{118,71}</string>
            </dict>
            <key>battle_shuffle_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,349},{118,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,71}}</string>
                <key>sourceSize</key>
                <string>{118,71}</string>
            </dict>
            <key>battle_shuffle_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,349},{116,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,71}}</string>
                <key>sourceSize</key>
                <string>{116,71}</string>
            </dict>
            <key>battle_shuffle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,349},{178,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,61}}</string>
                <key>sourceSize</key>
                <string>{178,61}</string>
            </dict>
            <key>battle_shuffle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,349},{174,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,93}}</string>
                <key>sourceSize</key>
                <string>{174,93}</string>
            </dict>
            <key>battle_shuffle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,349},{174,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,95}}</string>
                <key>sourceSize</key>
                <string>{174,95}</string>
            </dict>
            <key>battle_shuffle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,349},{174,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,97}}</string>
                <key>sourceSize</key>
                <string>{174,97}</string>
            </dict>
            <key>battle_shuffle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,349},{174,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,97}}</string>
                <key>sourceSize</key>
                <string>{174,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuffle.png</string>
            <key>size</key>
            <string>{1582,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3caae3d757badc5b74c1d5aa8a490d8b$</string>
            <key>textureFileName</key>
            <string>shuffle.png</string>
        </dict>
    </dict>
</plist>
