<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{120,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,66}}</string>
                <key>sourceSize</key>
                <string>{120,66}</string>
            </dict>
            <key>hl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{120,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,66}}</string>
                <key>sourceSize</key>
                <string>{120,66}</string>
            </dict>
            <key>ld.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{120,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,66}}</string>
                <key>sourceSize</key>
                <string>{120,66}</string>
            </dict>
            <key>st.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{120,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,66}}</string>
                <key>sourceSize</key>
                <string>{120,66}</string>
            </dict>
            <key>sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{120,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,66}}</string>
                <key>sourceSize</key>
                <string>{120,66}</string>
            </dict>
            <key>th.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{120,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,66}}</string>
                <key>sourceSize</key>
                <string>{120,66}</string>
            </dict>
            <key>ths.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{120,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,66}}</string>
                <key>sourceSize</key>
                <string>{120,66}</string>
            </dict>
            <key>ths2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{148,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>tz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{120,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,66}}</string>
                <key>sourceSize</key>
                <string>{120,66}</string>
            </dict>
            <key>wt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,66}}</string>
                <key>sourceSize</key>
                <string>{120,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btn_select_group_types.png</string>
            <key>size</key>
            <string>{124,764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2d9d6aceebc04c801a146203775c1ad$</string>
            <key>textureFileName</key>
            <string>btn_select_group_types.png</string>
        </dict>
    </dict>
</plist>
