<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>id.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{84,43}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,27},{84,43}}</string>
                <key>sourceSize</key>
                <string>{170,93}</string>
            </dict>
            <key>ip.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,88},{78,43}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,27},{78,43}}</string>
                <key>sourceSize</key>
                <string>{164,93}</string>
            </dict>
            <key>myself_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,142}}</string>
                <key>sourceSize</key>
                <string>{140,142}</string>
            </dict>
            <key>myself_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{139,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,141}}</string>
                <key>sourceSize</key>
                <string>{139,141}</string>
            </dict>
            <key>nickname.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{160,62}}</string>
                <key>offset</key>
                <string>{-25,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{160,62}}</string>
                <key>sourceSize</key>
                <string>{244,94}</string>
            </dict>
            <key>sex.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,164},{161,61}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{161,61}}</string>
                <key>sourceSize</key>
                <string>{245,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>myself.png</string>
            <key>size</key>
            <string>{253,327}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faf0ef9e3a0780fe6ccfa55cba2a4fca$</string>
            <key>textureFileName</key>
            <string>myself.png</string>
        </dict>
    </dict>
</plist>
