<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>art_font_4hn.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{134,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,42}}</string>
                <key>sourceSize</key>
                <string>{134,42}</string>
            </dict>
            <key>art_font_5hn.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{136,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,42}}</string>
                <key>sourceSize</key>
                <string>{136,42}</string>
            </dict>
            <key>art_font_5xn.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{136,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,42}}</string>
                <key>sourceSize</key>
                <string>{136,42}</string>
            </dict>
            <key>art_font_mn.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,98},{94,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,42}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
            <key>art_font_n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{94,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,42}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
            <key>art_font_n2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{92,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,42}}</string>
                <key>sourceSize</key>
                <string>{92,42}</string>
            </dict>
            <key>art_font_n3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,190},{92,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,42}}</string>
                <key>sourceSize</key>
                <string>{92,42}</string>
            </dict>
            <key>art_font_n4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,138},{94,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,42}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
            <key>art_font_n5.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,96},{92,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,42}}</string>
                <key>sourceSize</key>
                <string>{92,42}</string>
            </dict>
            <key>art_font_n6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,140},{94,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,42}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
            <key>art_font_n7.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,140},{94,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,42}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
            <key>art_font_n8.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{92,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,42}}</string>
                <key>sourceSize</key>
                <string>{92,42}</string>
            </dict>
            <key>art_font_n9.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,96},{92,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,42}}</string>
                <key>sourceSize</key>
                <string>{92,42}</string>
            </dict>
            <key>art_font_nn.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{92,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,42}}</string>
                <key>sourceSize</key>
                <string>{92,42}</string>
            </dict>
            <key>art_font_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,206},{66,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,38}}</string>
                <key>sourceSize</key>
                <string>{66,38}</string>
            </dict>
            <key>art_font_x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,96},{88,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,38}}</string>
                <key>sourceSize</key>
                <string>{88,38}</string>
            </dict>
            <key>art_font_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,206},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>art_font_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,166},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>art_font_x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,126},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>art_font_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,96},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>art_font_x6.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,96},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>art_font_x7.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,46},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>art_font_x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,86},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>art_font_x9.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,46},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>art_font_zdn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,42}}</string>
                <key>sourceSize</key>
                <string>{136,42}</string>
            </dict>
            <key>finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,194},{92,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,42}}</string>
                <key>sourceSize</key>
                <string>{92,42}</string>
            </dict>
            <key>grab_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{92,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
            <key>no_grab_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{96,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,42}}</string>
                <key>sourceSize</key>
                <string>{96,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>type_and_mult.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6c3d60fa16e0620c12d936c46fbe9b8$</string>
            <key>textureFileName</key>
            <string>type_and_mult.png</string>
        </dict>
    </dict>
</plist>
